
.reviewContainer{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    /* background-color: pink; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
}
.reviewContainer h2{
    font-size: 2.6em;
    margin-top: 50px;
    text-align: center;
}
.reviewContainer h3{
    margin: 20px 0px;
    color: rgb(234, 173, 20);
}
.reviewSec{
    min-height: 400px;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    flex-direction: row;
}
.review-div{
    min-height: 350px;
    width: 500px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 20px;
}
.review{
    margin: 30px 0px;
    /* min-height: 24vh;
    width: 26vw; */
    min-height: 202px;
    width: 381px;
    border: 3px solid rgb(207, 160, 40);
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 2px;
    justify-content: center;
    /* overflow: hidden; */
}
.reviewer{
    min-height: 15vh;
    width: 18vw;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
    /* overflow: hidden; */
    /* background-color: red; */
}
.person-detail{
    align-self: flex-start;
    flex-wrap: wrap;
}
.reviewer h3{
    color: black;
}
.forAnimationDiv{
    /* background-color: red; */
    display: flex;
    /* margin: 30px 0px; */
    position: relative;
    min-height: 400px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 100vw;
    transition: left 0.2s ease;
    overflow-x: hidden;
}

.review-div:hover{
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}

/* @media (prefers-reduced-motion: no-preference){
    .forAnimationDiv{
        animation: animateCar 18s ease-in-out 1s infinite alternate;
    }
} */
@keyframes animateCar {
    0%{
        left: 0px;
    }
    20%{
        left: -600px;
    }
    40%{
        left: -1200px;
    }
    60%{
        left: -1800px;
    }
    80%{
        left: -2400px;
    }
    100%{
        left: -2800px;
    }
}