
nav , ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)); */
    background: black;
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 2;
}
ul li ,a{
    padding: 10px;
    list-style-type: none;
    /* color: black; */
    color: white;
    text-decoration: none;
    border-radius: 7px;
    text-transform: capitalize;
    font-size: 1.1em;
    margin: 10px;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

nav ul li#logo{
    position: absolute;
    left: 20px;
}
.afterSmallScreen{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    width: 300px;
    justify-content: center;
    justify-self: flex-end;
    position: fixed;
    right: 0px;
}
.afterSmallScreen .div li{
    font-size: 1.3em;
    padding: 10px;
}
.right{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 0px;
}
.right .signlogin{
    margin: 0px;
}
#menubar{
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 4;
}
.hideIt{
    visibility: hidden;
    z-index: 2;
}

li a:hover{
    /* background-color: black; */
    color: black;
    background: white;
}
#menubar img{
    height: 32px;
    width: 37px;
}
@media only screen and (max-width: 800px) {
    #navbar{
        /* visibility: hidden; */
        display: none;
    }
    #menubar{
        visibility: visible;
    }
    html{
        overflow-x: hidden;
    }
}